#code {
  max-width: 500px;
  height: 200px;
  resize: none;
  width: 500px;
}

code {
  overflow: auto;
}

#output {
  background-color: rgb(255, 255, 255);
  max-width: 50%;
  height: 200px;
  resize: none;
  width: 500px;
  color: black;
  overflow: auto;
}

.contenedor-consola {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

h2 {
  text-align: center;
}

@media (max-width: 800px) {
  #code,
  #output,
  code {
    min-width: 80vw;
    max-width: 80vw;
  }

  .contenedor-editor-consola {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
  }

  .contenedor-consola {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
