#editor-ruby {
  width: 500px;
  height: 200px;
  resize: none;
  /* max-width: 50%; */
}

code {
  overflow: auto;
}
.btn {
  position: absolute;
  left: 15%;
}

#output-ruby {
  background-color: rgb(255, 255, 255);
  height: 200px;
  resize: none;
  width: 500px;
  /* margin-right: 20px; */
  max-width: 50%;
  color: black;
  overflow: auto;
}

.contenedor-ruby {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

@media (max-width: 800px) {
  #editor-ruby,
  #output-ruby,
  code {
    min-width: 80vw;
    max-width: 80vw;
  }

  .contenedor-ruby {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
